.App {
  text-align: center;
}

.AstroJLogo{
  height:85px;
  color:none;
  float:left;
  padding-top: 0px;
  padding-left: 65px;
}

.App-header {
  /*animation: pulse 10s;*/
  height: 80px;
  width: fill-available;
  padding: 5px;
  background-color:  #0a2342;
  float:center;
  position:fixed;
  top:0px;
  z-index: 1;
}

.title {
  font-size: 32px;
  font-style: none;
  color:white;
  height: 18px;
  text-align:left;
  padding-left: 50px;
  padding-top: 20px;
  position:relative;
  left:15px;
  z-index:2;
}
.title2 {
  font-size: 20px;
  font-style: none;
  color:lightgrey;
  height: 18px;
  text-align:left;
  padding-left: 55px;
  padding-top: 20px;
  position:relative;
  left:15px;
  z-index:2;
}
.gps{
  font-size: 20px;
  color:white;
  position:absolute;
  top:40px;
  left: 750px;
}
.apagy{
  font-size:20px;
  position:absolute;
  top:100px;
  left:5px;
}
.line1{
  color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  position:absolute;
  top:75px;
  left:300px;
}
.Updates{
  font-size: 30px;
  font-style: none;
  color:#0a2342;
  height: 18px;
  text-align:left;
  padding-left: 140px;
  padding-top: 20px;
  position:absolute;
  top:75px;
}
.Readings{
  font-size: 30px;
  font-style: none;
  color:#0a2342;
  height: 18px;
  text-align:left;
  padding-left: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.line2{
  color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  position:absolute;
  top:130px;
  left:140px;
}
.Updates2{
  color:#0a2342;
  background: white;
  font-size: 18px;
  text-align: left;
  padding-left:140px;
}
.date{
  font-size: 12px;
}
.message{
  font-size:15px;
  font-style: italic;
}
.App-intro {
  font-size: 18px;
  text-align: left;
  font-style:none;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 140px;
}

{/*-----------------------------------------------------------------------------------------------------*/}
.Buttons{
  position: fixed;
  right:0px;
  top:90px;
}
.AllButton {
  background-color: white;
  text-align: center;
  float: left;
  position: absolute;
  right:0px;
  top: 5px;
  border-radius: 8px;
  cursor:pointer;
}
.AllButton:hover{
  background: lightgreen;
  cursor:pointer;
}
.AllButton:cursor{
  cursor:pointer;
}
.AltiButton {
  background-color: white;
  text-align: center;
  position: absolute;
  top: 75px;
  right: 0px;
  border-radius: 8px;
  cursor:pointer;
  height:220px;
}
.AltiButton:hover{
  background: lightblue;
  cursor:pointer;
  background: lightblue;
}
.lineChart {
  background-color: none;
  text-align: center;
  float: center;
  padding-top: 0px;
  padding-left: 50px;
  padding-bottom: 0px;
  position: absolute;
  top: 120px;
  left: 500px;
  border-radius: 8px;
}
.firstChart{
  padding-bottom:105px;
}
.secondChart{
  padding-bottom:105px;
}
.thirdChart{
  padding-bottom:105px;
}
.fourthChart{
  padding-bottom:105px;
}
.fifthChart{
  padding-bottom:105px;
}
.sixthChart{
  padding-bottom:105px;
}
.seventhChart{
  padding-bottom:105px;
}
.Speedometer {
  background-color: none;
  text-align: center;
  float: center;
  padding-top: 0px;
  padding-left: 50px;
  padding-bottom: 0px;
  position: absolute;
  top: 120px;
  left: 100px;
  border-radius: 8px;
}
.SpeeButton {
  background-color: white;
  text-align: center;
  float: center;
  position: absolute;
  top: 300px;
  right: 0px;
  border-radius: 8px;
  cursor:pointer;
  height:220px;
}
.SpeeButton:hover{
  background: lightblue;
  cursor:pointer;
}
.SpeeButton:cursor{
  cursor:pointer;
}

.AnguButton {
  background-color: white;
  text-align: center;
  float: center;
  padding-top: 20px;
  padding-left: 10px;
  position: absolute;
  top: 525px;
  right: 0px;
  border-radius: 8px;
  cursor:pointer;
  height:220px;
}
.AnguButton:hover{
  background: lightblue;
  cursor:pointer;
}
.AnguButton:cursor{
  cursor:pointer;
}
.gpsButton {
  background-color: white;
  text-align: center;
  float: center;
  padding-top: 10px;
  position: absolute;
  top: 730px;
  left: 225px;
  border-radius: 8px;
  cursor:pointer;
  height:220px;
}
.gpsButton:hover{
  background: lightblue;
  cursor:pointer;
}
.gpsButton:cursor{
  cursor:pointer;
}
.helpButton{
    background-color: #0a2342;
    border: none;
    font-style: bold;
    border-radius: 5px;
    color: white;
    padding: 30px 10px;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
}
.helpButton:hover{
  color: turquoise;
  cursor:pointer;
}

@keyframes pulse{
  0% {
    background-color: white;
  }

  100% {
    background-color: #C3EBE7;
  }
}
